<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name ="httpInvokerServerTest" class="com.spring.app.http.impl.HttpInvokerServerTestImpl"></bean>

    <bean name="/hit"
          class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
        <property name="service" ref="httpInvokerServerTest"></property>
        <property name="serviceInterface" value="com.spring.app.http.HttpInvokerServerTest"></property>
    </bean>
</beans>